<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.fy.fonksiyon_degistirici">

    <!-- ===================================================== -->
    <!-- PERMISSIONS -->
    <!-- ===================================================== -->

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>

    <!-- ===================================================== -->
    <!-- APPLICATION -->
    <!-- ===================================================== -->

    <application
        android:allowBackup="false"
        android:usesCleartextTraffic="true"
        android:label="Fonksiyon Degistirici">

        <!-- AdMob App ID -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5522917995813710~6900495663"/>

    </application>

</manifest>
